html, body,
{
      padding: 0px;
      margin: 0px;
      max-width: 1024px;
      -webkit-text-size-adjust: 100%;
}

ul
{
  list-style: none;
}

a{
      text-decoration: none;
}

a:hover
{
      text-decoration: underline;
}

#wrap
{
    width: 100%;
    height: auto;
   
}

#header
{
      max-width: 1024px;
      height: auto;
      margin: 0px auto;
}


#logo
{
      padding: 0px;
      margin: 0px;
      height: auto;
      background: url("../images/logo.png") no-repeat;
      background-position:left;
      background-size:contain;
      display: block;
      line-height: 3em;
      cursor: pointer;
      left: 0px;

}
 


/*****Header's Grid*******/
 
.logo
{
      grid-area: logo;
 
}
 
.google_translate
{
      grid-area: google_translate; 
}

.header
{
      display: grid;
      grid-template-columns:2fr 1fr;
      grid-template-areas: "logo google_translate";

}

 

#main_body
{
      max-width:1024px;
      height: auto;
      padding: 0px;
      margin-top: 5em;
      margin: 0px auto;
}

#finder
{
      text-align: center;

}

find_sevices
{
      font-family: "MARBOLD";
      src:url("fonts/MARBOLD.TTF");
      font-size:5em;
      background-image: linear-gradient(to bottom,#E41B23, #000066);
      color: #ffffff;  
      background-clip: text;
      -webkit-background-clip: text; 
      -webkit-text-fill-color: transparent;       
}

grey_font
{
      color: grey;
      font-family: 'arial';
      font-size: 1em;

}

#footer
{
      width: 100%;
      height:auto;
      padding: 0px;
      line-height: 3em;
      text-align: center;
      font-family: 'Helvetica';
      src:url("fonts/Helvetica-Bold.ttf");
      margin-top: 5em;
      text-transform: capitalize; 
      font-size: 0.5em;
      margin: 0px auto;
}

 