html, body,
{
      padding: 0px;
      margin: 0px;
      min-width: 1024px;
      -webkit-text-size-adjust: 100%;
}

ul
{
  list-style: none;
}

a{
      text-decoration: none;
}

a:hover
{
      text-decoration: underline;
}

#wrap
{
    width: 100%;
    height: auto;
    margin: 0px auto;
}

#header
{
      width: 100%;
      height: auto;
}


#logo
{
      padding: 0px;
      margin: 0px;
      height: auto;
      background: url("../images/logo.png") no-repeat;
      background-position:center;
      background-size:contain;
      display: block;
      line-height: 3em;
      cursor: pointer;
      left: 0px;

}
 


/*****Header's Grid*******/
 
.logo
{
      grid-area: logo;
 
}
 
.google_translate
{
      grid-area: google_translate;
 
}

.header
{
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-areas: "logo google_translate";

}

/*
#google_translate_element
{
      background: black;
      line-height: 2em;
      width: 5em;
      height: auto;
}*/


#main_body
{
      width: 100%;
      height: auto;
      margin: 0px auto;
      padding: 0px;
      margin-top: 5em;
}

#finder
{
      text-align: center;

}

find_sevices
{
      font-family: "MARBOLD";
      src:url("fonts/MARBOLD.TTF");
      font-size:5em;
      background-image: linear-gradient(to bottom,#E41B23, #000066);
      color: #ffffff;  
      background-clip: text;
      -webkit-background-clip: text; 
      -webkit-text-fill-color: transparent;  
 
     
}

grey_font
{
      color: grey;
      font-family: 'arial';
      font-size: 1em;

}
